@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');


@import "img.css";
@import "greeting.css";
@import "clock.css";
@import "weather.css";
@import "todo.css";

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Nanum Myeongjo', serif;
     margin: 0;
     color: white;
  }

#main{
    display: flex;
    flex-direction: column;
    justify-content: column;
    align-items:center;
    background-color: rgba(0,0,128,0.1);
    border-radius: 30px;
    backdrop-filter: blur(6px);
    width: 30%;
    
}

form {
    width: 45%;
    box-sizing: border-box;
    margin: 0px;
}

input {
    border: none;
    border-bottom: 2px solid white;
    background: none;
    width: 100%;
    padding: 7px 5px 7px 10px;
    transition: all 0.3s ease-in-out;
}

input:focus {
    outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    color: white;
  }
  input::placeholder {
    font-size: 15px;
    color: white;
  }

.hidden{
    display: none  !important;
}

#profile-img{
  position: sticky;
  width: 180px;
  height: 300px;
}
